@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#telefone {
    background: url(../imagens/frame-iphone.png) no-repeat;
    height: 627px;
    width: 311px;
}


